@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
     :root {
        --background: 220 20% 8%;
        --foreground: 210 40% 96%;
        --border: 217 19% 18%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --accent: 183 65% 40%;
        --accent-foreground: 0 0% 100%;
        --muted: 217 19% 14%;
        --muted-foreground: 215 20% 60%;
    }
    .dark {
        --background: 220 20% 5%;
        --foreground: 210 40% 96%;
        --border: 217 19% 16%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --accent: 183 63% 45%;
        --accent-foreground: 0 0% 100%;
        --muted: 217 19% 11%;
        --muted-foreground: 215 20% 55%;
    }
    * {
        @apply border-border;
    }
    body {
        @apply min-h-screen bg-background text-foreground;
    }
}